html {
  font-size: 62.5% !important; /* 10px */
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
h1 {
  font-family: sans-serif;
  font-size: 5rem; /* 50px */
  line-height: 1.3;
  width: 100%;
  padding: 3rem; /* 30px */
  text-align: center;
  color: white;
}
