* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 62.5%;
  padding: 50px;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 0.5rem solid #444;
  width: 40rem;
  padding: 2.5rem;
  margin-top: 3rem;
}

input,
button {
  padding: 1rem;
  font-size: 1.6rem;
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 30rem;
}

#your-name h2 {
  color: olivedrab;
}
