* {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
h1 {
  font-family: sans-serif;
  font-size: 5rem;
  line-height: 1.3;
  width: 100%;
  padding: 3rem;
  text-align: center;
  color: white;
}
.buy,
.poll {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 2rem;
}
.buy {
  left: 2rem;
}
.poll {
  right: 2rem;
}
