html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
.flex {
  font-family: sans-serif;
  font-size: 5rem;
  line-height: 1.3;
  width: 100%;
  padding: 3rem;
  text-align: center;
  color: white;
}
button {
  width: 5rem;
  height: 2rem;
  margin: 1rem;
}
textarea {
  width: 30rem;
  height: 10rem;
}
